body, #ic2>button {
  font-family: 'Bebas Neue', Arial, cursive;
  color: #FAC560;
  background-color: indigo;
}

h1 {
  font-size: 60px;
  letter-spacing: 6px;
  margin-top: 0;
}

h1, h2, h3, legend {
  text-align: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

#instInputs, #tempoSelect {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

#instInputs>fieldset {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#ic1 { grid-column: 1; }
#ic2 { grid-column: 2; }
#ic3 { grid-column: 3; }
#ic1, #ic2, #ic3 { grid-row: 1; }

#ic1>input {
  margin-left: 30%;
}

#ic2>button {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

#ic2>button:disabled { background-color: #333; }

#ic2>#playAll {
  display: inline-block;
  width: 30%;
  margin-left: 25%;
  margin-right: 5%;
}

input[type=range] {
  appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 10px;
  margin-top: -10px;
  background-color: #FFF;
  border-radius: 25%;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, blue, green, yellow, red);
}

#volCtrl {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 20% 60% 10%;
  text-align: right;
}

.vr1 { grid-row: 1; }
.vr2 { grid-row: 2; }
.vr3 { grid-row: 3; }

.vc1 {
  grid-column: 1;
  margin-right: 10px;
}
.vc2 { grid-column: 2; }
.vc3 {
  grid-column: 3;
  font-size: 0.8em;
}

.vc3, #tempoVal {
  font-family: 'Bebas Neue', Arial, cursive;
  background-color: #333;
  color: rgb(50, 255, 0);
  transition: color 1s ease-in-out;
}

#tempoSelect {
  margin-top: 50px;
}

#tempoSelect>fieldset {
  /* border-color: #333; */
  /* color: #666; */
  border-color: rgb(50, 255, 0);
  box-shadow: 0 0 0 0;
  transition-property: color, border-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

#tempo {
  width: 85%;
}

#tempo::-webkit-slider-thumb {
  margin-top: -15px;
  width: 15px;
  height: 30px;
}

#tempo:focus { outline-color: #666; }

#tempoVal { font-size: 1.2em; }

h3 {
  letter-spacing: 4px;
  font-size: xx-large;
  margin-top: 50px;
  margin-bottom: 0;
  border-bottom: 2px solid #FAC560;
}

#beatCount>p, #controls>p {
  width: 85%;
  display: inline-flex;
  justify-content: space-between;
  font-size: x-large;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 7.4%;
}

.downbeat { font-size: xx-large; }

.noteAnd { font-size: larger; }

sub, sup { font-size: small; }

#octCtrl>span:nth-child(4) {
  color: mediumspringgreen;
}

#seqContainer { display: none; }

.seqTable {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(13, 5vh);
  grid-template-columns: repeat(33, 1fr);
}

.seqTable>div {
  border-left: 2px solid #CCC;
  border-top: 2px solid #CCC;
}

.c32 { border-right: 2px solid #CCC; }

.r12 { border-bottom: 2px solid #CCC; }

.seqTable>span { text-align: center; }

.c33 { margin-top: 15%; }

.seqTable>.noteAnd, .c33 { font-size: x-large; }

/* Sequencing grid rows */
.r1 { grid-row: 1; }
.r2 { grid-row: 2; }
.r3 { grid-row: 3; }
.r4 { grid-row: 4; }
.r5 { grid-row: 5; }
.r6 { grid-row: 6; }
.r7 { grid-row: 7; }
.r8 { grid-row: 8; }
.r9 { grid-row: 9; }
.r10 { grid-row: 10; }
.r11 { grid-row: 11; }
.r12 { grid-row: 12; }
.r13 { grid-row: 13; }

/* Sequencing grid columns */
.c1 { grid-column: 2; }
.c2 { grid-column: 3; }
.c3 { grid-column: 4; }
.c4 { grid-column: 5; }
.c5 { grid-column: 6; }
.c6 { grid-column: 7; }
.c7 { grid-column: 8; }
.c8 { grid-column: 9; }
.c9 { grid-column: 10; }
.c10 { grid-column: 11; }
.c11 { grid-column: 12; }
.c12 { grid-column: 13; }
.c13 { grid-column: 14; }
.c14 { grid-column: 15; }
.c15 { grid-column: 16; }
.c16 { grid-column: 17; }
.c17 { grid-column: 18; }
.c18 { grid-column: 19; }
.c19 { grid-column: 20; }
.c20 { grid-column: 21; }
.c21 { grid-column: 22; }
.c22 { grid-column: 23; }
.c23 { grid-column: 24; }
.c24 { grid-column: 25; }
.c25 { grid-column: 26; }
.c26 { grid-column: 27; }
.c27 { grid-column: 28; }
.c28 { grid-column: 29; }
.c29 { grid-column: 30; }
.c30 { grid-column: 31; }
.c31 { grid-column: 32; }
.c32 { grid-column: 33; }
.c33 { grid-column: 1; }